%h4 Ajouter une nouvelle adresse
%br
= simple_form_for @adresse do |a|
  = a.input :adresse
  = a.input :ville
  = a.input :code_postal
  = a.input :adressable_id, as: :hidden, input_html: {value: "#{contact_id}"}
  = a.input :adressable_type, as: :hidden, input_html: {value: "Contact"}
  = a.button :submit, "Ajouter l'adresse"