.row
  .col-md-12
    %h1{align: 'center'} Liste des contacts

.row
  .col-md-4
    .row
      .col-md-12{align: 'center'}
        = link_to "Ajouter un contact", new_contact_path, class: 'btn btn-primary', remote: true
    %br
    %ul.nav.nav-pills.nav-stacked
      - @contacts.each do |c|
        %li{class: c.id == @contacts.first.id ? 'active' : ''}
          %a{href: "#c-#{c.id}", data: {toggle: "tab"}}
            = "#{c.prenom} #{c.nom}"
    %br
      %h5{align:'center'}
        = "#{@contacts.count} contacts"
  .col-md-8
    .tab-content.well
      - @contacts.each do |c|
        .tab-pane{id: "c-#{c.id}", class: c.id == @contacts.first.id ? 'active' : ''}
          %legend
            %span.glyphicon.glyphicon-user
            ="#{c.prenom} #{c.nom}"
            .pull-right
              = link_to edit_contact_path(c), remote: true do
                %span.glyphicon.glyphicon-edit
              = link_to '', c, method: :delete, data: { confirm: 'Voulez-vous vraiment supprimer ce contact ?' }, class: "glyphicon glyphicon-trash"
          - if c.adresse.nil?
            = render partial: 'contacts/add_adresse', locals: {contact_id: c.id, type: "Contact"}
          - else
            .adresse{id: "adresse-#{c.adresse.id}"}
              %span.glyphicon.glyphicon-home
              .adresse-text{style: "display: inline;"}
                = "#{c.adresse.adresse}, #{c.adresse.ville}, #{c.adresse.code_postal}"
              = link_to "editer", edit_adress_path(c.adresse), remote: true

.modal
