.row
  .col-md-12
    %h1{align: 'center'} Liste des contacts

.row
  .col-md-4
    .row
      .col-md-10
        %input.form-control{type: 'text', placeholder: 'Rechercher ...'}
      .col-md-2
        = link_to "+", new_contact_path, class: 'btn btn-primary', remote: true
    %br
    %ul.nav.nav-pills.nav-stacked
      - @contacts.each do |c|
        %li{class: c.id == @contacts.first.id ? 'active' : ''}
          %a{href: "#c-#{c.id}", data: {toggle: "tab"}}
            = "#{c.prenom} #{c.nom}"
  .col-md-8
    .tab-content.well
      - @contacts.each do |c|
        .tab-pane{id: "c-#{c.id}", class: c.id == @contacts.first.id ? 'active' : ''}
          %legend
            %span.glyphicon.glyphicon-user
            ="#{c.prenom} #{c.nom}"
            - unless c.adresse.nil?
              = link_to "+", new_adresse_path, class: 'btn btn-primary', remote: true
          - unless c.adresse.nil?
            %span.glyphicon.glyphicon-home
            = "#{c.adresse.adresse}, #{c.adresse.ville}, #{c.adresse.code_postal}"

.modal
