.row
  .col-md-12
    %h1{align: 'center'} Liste des contacts

.row
  .col-md-4
    .row
      .col-md-10
        %input.form-control{type: 'text', placeholder: 'Rechercher ...'}
      .col-md-2
        %button.btn.btn-primary{id: 'add-contact', "data-target" => "#modal-add-contact", "data-toggle" => "modal"}
          +
    %br
    %ul.nav.nav-pills.nav-stacked
      - @contacts.each do |c|
        %li{class: c.id == @contacts.first.id ? 'active' : ''}
          %a{href: "#c-#{c.id}", data: {toggle: "tab"}}
            = "#{c.prenom} #{c.nom}"
  .col-md-8
    .tab-content.well
      - @contacts.each do |c|
        .tab-pane{id: "c-#{c.id}", class: c.id == @contacts.first.id ? 'active' : ''}
          %legend
            = "#{c.prenom} #{c.nom}"

= render 'contact/ajout_contact'